body {
background-color:#ffcccc;

}


.respuestas{
     margin-top: 20px;
}

h1 {
    color: #b71c1c;
}


.imagen-pregunta {
    width: 700px;
    border: 5px solid #b71c1c;
    border-radius: 15px;
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
}


.respuestas {
    margin-top: 20px; 
}


.boton {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
}
